/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
/* /general */

/* header */
header {
  background-color: #f66905;
  position: fixed;
  width: 100%;
  top: 0;
}
header > div {
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  margin-right: 10px;
}
nav ul li a {
  color: #fef5ee;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav, .logo, .icons {
  width: 30%;
  display: inline-block;
  padding: 10px 0;
}
.logo{
  display: flex;
  justify-content: center;
}
.img-logo {
width: 170px;
}
/* /header */

/* main */
main {
  padding-top: 60px;
}
.container.shop {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 30%;
  min-width: 300px;
  background-color: aquamarine;
  border: 1px solid black;
  margin-bottom: 60px;
}
.img {
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.card span {
  display: block;
}
/* /main */





footer {
  height: 100px;
  background-color: black;
}

