/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
/* /general */

/* header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #f66905;
  box-shadow: 0 0 10px black;
}
header > div {
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  margin-right: 10px;
}
nav ul li a {
  color: #fef5ee;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav, .logo, .icons {
  width: 30%;
  display: inline-block;
  padding: 10px 0;
}
.logo{
  display: flex;
  justify-content: center;
}
.img-logo {
width: 170px;
}
/* /header */

/* main */
main {
  padding-top: 60px;
}
.container.shop {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 30%;
  min-width: 300px;
  margin-bottom: 60px;
}
.heart-box, .discount, .sostenibilita {
  position: absolute;
}
.heart-box {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  top: 10px;
  right: 0;
}
.heart-box:hover .heart {
  color: red;
}
.discount, .sostenibilita {
  bottom: 10px;
  padding: 5px;
  display: block;
  color: #ffffff;
}
.discount {
  background-color: #f41214;
}
.sostenibilita {
  background-color: #248000;
  left: 70px;
}
.img-container {
  position: relative;
}
.img {
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.back-img {
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.card:hover .back-img {
  display: block;
}
.brand, .article {
  display: block;
}
.brand, .price, .special-price {
  font-size: 12px;
}
.article {
  font-size: 20px;
}
.special-price {
  color: #f41214;
}
/* /main */

/* footer */
footer {
  height: 100px;
  background-color: black;
}
footer, footer a {
  color: white;
}
footer a {
  text-decoration: none;
  font-size: 10px;
  font-weight: 100;
}
.informations, .socials {
  width: 49%;
  height: 100px;
  display: inline-block;
}
.informations {
  padding-top: 35px;
}
footer h4 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 100;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* /footer */

